<hr>
<section class="blurb">
    <div class="blurb-container">
        <div>
            <img src="/assets/images/avatar.png" alt="Yuniel" class="blurb-avatar">
        </div>
        <div>
            <span class="blurb-title">About the author</span>
            <p class="blurb-p">
                Hola, soy <a href="/about">Yuniel</a>, un software engineer, y
                open-source contribuidor. Publico guias y tutoriales sobre
                programación, diseño e inteligencia artificial.
            </p>
            <p class="blurb-p">
                <a class="button" href="mailto:yunielacosta738@gmail.com" rel="noreferrer">
                    Contáctame</a>
<!--                <a class="button" href="https://ko-fi.com/taniarascia" target="_blank"-->
<!--                   rel="noreferrer">-->
<!--                    Buy me a coffee</a>-->
            </p>
        </div>
    </div>
</section>
<hr>